body {
  user-select: none;
}

input,
label {
  cursor: pointer;
}

.App-header {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
  background-color: green;
  animation: slide 2s ease-in;
}
